body {
    background-color: #1F1E1E;
    color: #EEF0E5;
}

.gallery-header {
    display: flex;
    margin: 5%;
    margin-bottom: 1%;
    justify-content: space-between;
    align-items: center;
}

.gallery-h3 {
    font-size: 30px;
}

.gallery-button {
    padding: 10px 20px; /* Agrega más relleno para hacer el botón más grande */
    font-size: 15px; /* Ajusta el tamaño del texto */
    font-weight: bolder;
    width: 200px; /* Ajusta el ancho del botón */
    background-color: #EEF0E5;
    color: #1F1E1E;
    border-radius: 10px;
  }

  .gallery-news-item {
    border-top: 2px solid #fff; /* Añade una línea horizontal delgada */
    padding-top: 10px; /* Ajusta el espaciado entre la línea y el contenido de la noticia */
    margin-top: 20px; /* Ajusta el espaciado entre las noticias */
    width: 95%; /* Ocupa el 95% del ancho de la página */
    height: 30%; /* Ocupa el 30% de la altura de la página */
    display: flex; /* Utiliza flexbox para organizar los elementos */
    font-size: 25px;
  }

  .url-img {
    width: 25%; /* Ocupa el 65% del ancho de la noticia */
    height: 30%; /* Ocupa toda la altura de la noticia */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    margin-left: 8%;
}
  
  .gallery-news-details {
    width: 50%; /* Ocupa el 35% restante del ancho de la noticia */
    padding: 10px; /* Espaciado interior para el contenido */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    margin-left: 5%;
  }

  .arrow { 
    width: 40px;
    height: 15px;
    margin-left: 15px;
  }

  .title-arrow {
    display: flex;
  }

  .date {
    margin-top: 10%;
  }